.product-single{
    min-width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px  10px;
    border-radius: 7px;


}

.product-single img {
    width: 70%;
    padding: 20px;
    margin: 0 auto;
}

.product-single h3{
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.product-single p{
    padding: 10px;
    width: 100%;
   word-wrap: break-word;

}

.product-single a {
    padding: 5px 0;
    cursor: pointer;
    margin: 8px;
    background-color: rgb(21, 200, 21);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    border: none;
    text-align: center;
}

.product-single a:hover{
    background-color:rgb(6, 168, 6) ;
}


