.contact-container {
   
    width: 100%;
    background: linear-gradient(to bottom, #012C6D ,#0251B8 ,#0267EB);
    color: white;
}


.contact-container .center {
    display: flex;
    flex-wrap: wrap;
    

}

.contact-container h2 {
    text-align: center;
    padding: 18px 0;
    font-weight: bold;
    font-size: 30px;
  
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    
}

.form form {

    display: flex;
    flex-direction: column;
    width: 100%;

    
}

.form form label {
    margin-left: 20px;
}

.form form h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
    
}

.form form input {
    margin: 15px;
    width: 90%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    padding-left: 7px;
    font-size: 15px;

}

.form form input:focus{
    border: 2px solid yellow;
}

textarea{
    width: 90%;
    margin-left: 13px;
    height: 150px;
    resize: none;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    outline: none;

}

textarea:focus{
    border: 2px solid yellow;
}

form input[type ='submit']{
    cursor: pointer;
    color: yellow;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #012C6D;
    transition: 0.8s;
}

form input[type = 'submit']:hover{
    background-color: #043a8b ;
}


.contact-container .map {
    width: 400px;
    margin-top: 50px;
    height: 360px;
    background-color: none;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 360px;
    width: 100%;


}

.gmap_canvas {
    overflow: hidden;
    background-color: none !important;
    height: 360px;
    width: 100%;

}


@media screen and (max-width: 850px){
    .form {
        width: 100%;
        margin: 20px auto;
        
    }
    form h3{
        text-align: center;
        
    }

    .contact-container .map, .mapouter, .gmap_canvas {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        
    }

    
    .contact-container .center{
        display: block;
        padding-bottom: 30px;
    }


   
}